.edit-card {
	size: 50%;
	letter-spacing: 5px;
}
jumbotron {
	padding-top: 1rem;
}
.btn btn-primary btn-lg {
	display: block;
}
.btn btn-outline-danger {
	float: right;
	margin-left: 500px;
}
form-inline my-2 my-lg-0 {
	text-align: right;
}

.card {
	display: none;
}

td {
	text-align: center;
}

.navbar-right {
	padding-right: 1rem;
	padding-left: 1rem;
}
